/* Importing Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body    {

  
  background-color:orange;
  margin: 10;
  padding: 100;
}
<!--
#layer1{
position: absolute;
left: -10px;
top:-30px;
width: 0px;
height: 0px;
z-index: 10;

}

#layer2{
  position: absolute;
  left: 100px;
  top:-128px;
  width: 0px;
  height: 0px;
  z-index: 10;

}

#layer3{
  position: absolute;
  left: 100px;
  top: 550px;
  width: 0px;
  height: 0px;
  z-index: 10;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("images/") #d6ccb6 no-repeat center;
}



  

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

.card-list .card-item {
  height: auto;
  color: rgb(44, 22, 2);
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(151, 190, 158, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid rgb(59, 37, 3);
  padding: 4px;
}

.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #076952;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
  background: rgba(84, 28, 216, 0.493);
  border: 1px solid #fff;
  color: rgb(39, 5, 5);
}

.slider-wrapper .swiper-pagination-bullet {
  background: rgb(1, 43, 36);
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #8f320d;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }


}